<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport">
     <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/BaseCss")
    @RenderSection("styles",required:false)
    <link href="@Url.Content("~/Content/Css/common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/BaseCss/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/iconfont/iconfont.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/BaseJs")
    <script src="@Url.Content("~/Content/BaseJs/Utils.js")"></script>
    <script src="@Url.Content("~/Content/BaseJs/FlexReset.js")"></script>
    @*<script src="@Url.Content("~/Content/BaseJs/layer.js")"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
