@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "八字合婚";
    ViewBag.BannerImg = BigMasterApp.App_Start.AppHelper.GetImgServiceRoot() + "images/eightMarrybanner.jpg";
    var imgRoot = BigMasterApp.App_Start.AppHelper.GetImgServiceRoot();
}

<style>
     .customerMess{background-color:#f7f6ed;margin-top:15px;border:1px solid #ddd ;border-radius:2%;padding-top:0.12rem;padding-bottom:0.3rem}
     .customerMess .item{color:#5b0100;border-bottom:1px solid #ad5d57;line-height:1.2rem}
     .customerMess .item .title{width:3.5rem;align-self:center}
     .submitBtn{line-height:0.9rem;width:100%;background-color:#e3453d;border-radius:1rem;margin-top:0.610rem;margin-bottom:1rem}
     .customerMess .costomerInput{line-height:0.7rem;background-color:transparent;}
     .customerMess .costomerInputSec{line-height:0.7rem;background-color:transparent;width:25%}
     
     .moreMess{background-color:#f5f2e6;min-height:2rem;text-align:center;padding-top:0.1rem !important; padding-bottom:1rem !important}
     .colMap{height:1.43rem;align-self:center;line-height:1.43rem; background:url(..//Content/images/colMap.png);background-size:100% 100%}
          .moreMess .MM-content .MM-item div{width:1rem;height:3.65rem}
     .moreMess .conText{width:0.5rem; margin:0 auto;position:relative;top:0.8rem}
     .backBox{background-color:#faddaf}
     .functionBottom{padding:0.2rem;font-size:16px}
</style>
@Html.Partial("_PartialHead")
@Html.Partial("_PartialBanner")

<div class="eightGoodWordContent pd20x10">
    <div class="userMess mb10">
        <!--老师信息Begin-->
        <div class="flex-box teacherMess pd20x10">
            <div class=" flex-wrap flex-cont ag-self name-Img">
                <div><img class="teacherImg" src="http://thirdwx.qlogo.cn/mmopen/383icd6wkx4TECUBUCjDtB7IQpIuVJ0DTcSRb0s8vK08ibGgXqC2uprC58cYWXwQM27pibFKvpohIllQyVQmnmgdAa3xZdWjtgJ/132" /></div>
                <div class="teacherName rem20">黄大爷</div>
            </div>
            <div class="flex-wrap flex-cont ag-self">
                <div class="tal teacherDescFont rem18">
                    展示老师头像、姓名、简介；
                    • 暂由开发上传，后期可搭建管理后台；
                    • 没配置内容则隐藏，下方元素上移
                </div>
            </div>
        </div>
        <!--老师信息end-->
        <div class="customerMess pd0x10">
            <div class="item flex-box ">
                <div class="flex-cont rem16 title ">男方姓名：</div>
                <div class="flex-cont tal"><input class="rem14 pd5x10 costomerInput" value="" placeholder="请填写您的姓名" /></div>
            </div>
            <div class="item flex-box ">
                <div class="flex-cont rem16 title">出生日期：</div>
                <div class="flex-cont tal "><input id="manDate" class="rem14 pd5x10  costomerInput" value=""data-toid-date="date" name="input_date"  placeholder="日期选择不带时辰" readonly="readonly" data-type="1" data-date="1983-6-3" />
                    <input type="hidden" id="date" name="date">
                
                </div>
            </div>
            <div class="item flex-box">
                <div class="flex-cont rem16 title">出生时辰：</div>
                <div class="flex-cont tal "style="padding-top:0.09rem">
                <form class="layui-form" >
                        <select name="city" lay-verify="required">
                                <option value="0" selected="">时辰不详</option>
                                <option value="24">子 00:00-00:59</option>
                                <option value="1">丑 01:00-01:59</option>
                                <option value="2">丑 02:00-02:59</option>
                                <option value="3">寅 03:00-03:59</option>
                                <option value="4">寅 04:00-04:59</option>
                                <option value="5">卯 05:00-05:59</option>
                                <option value="6">卯 06:00-06:59</option>
                                <option value="7">辰 07:00-07:59</option>
                                <option value="8">辰 08:00-08:59</option>
                                <option value="9">巳 09:00-09:59</option>
                                <option value="10">巳 10:00-10:59</option>
                                <option value="11">午 11:00-11:59</option>
                                <option value="12">午 12:00-12:59</option>
                                <option value="13">未 13:00-13:59</option>
                                <option value="14">未 14:00-14:59</option>
                                <option value="15">申 15:00-15:59</option>
                                <option value="16">申 16:00-16:59</option>
                                <option value="17">酉 17:00-17:59</option>
                                <option value="18">酉 18:00-18:59</option>
                                <option value="19">戌 19:00-19:59</option>
                                <option value="20">戌 20:00-20:59</option>
                                <option value="21">亥 21:00-21:59</option>
                                <option value="22">亥 22:00-22:59</option>
                                <option value="23">子 23:00-23:59</option>

                        </select>
                </form>
             </div>
            </div>
            <div class="item flex-box ">
                <div class="flex-cont rem16 title">女方姓名：</div>
                <div class="flex-cont tal"><input class="rem14 pd5x10  costomerInput" value="" placeholder="请填写您的姓名" /></div>
            </div>
            <div class="item flex-box ">
                <div class="flex-cont rem16 title ">出生日期：</div>
                <div class="flex-cont tal"><input id="womanDate" class="rem14 pd5x10  costomerInput" value="" data-toid-date="date" name="input_date" placeholder="请选择生日" readonly="readonly" data-type="1" data-date="1983-6-3" />
                 <input type="hidden" id="date" name="date"></div>
            </div>
            <div class="item flex-box ">
                <div class="flex-cont rem16 title">出生时辰：</div>
                <div class="flex-cont tal ">
                    <form class="layui-form">
                        <select name="city" lay-verify="required">
                            <option value="0" selected="">时辰不详</option>
                            <option value="24">子 00:00-00:59</option>
                            <option value="1">丑 01:00-01:59</option>
                            <option value="2">丑 02:00-02:59</option>
                            <option value="3">寅 03:00-03:59</option>
                            <option value="4">寅 04:00-04:59</option>
                            <option value="5">卯 05:00-05:59</option>
                            <option value="6">卯 06:00-06:59</option>
                            <option value="7">辰 07:00-07:59</option>
                            <option value="8">辰 08:00-08:59</option>
                            <option value="9">巳 09:00-09:59</option>
                            <option value="10">巳 10:00-10:59</option>
                            <option value="11">午 11:00-11:59</option>
                            <option value="12">午 12:00-12:59</option>
                            <option value="13">未 13:00-13:59</option>
                            <option value="14">未 14:00-14:59</option>
                            <option value="15">申 15:00-15:59</option>
                            <option value="16">申 16:00-16:59</option>
                            <option value="17">酉 17:00-17:59</option>
                            <option value="18">酉 18:00-18:59</option>
                            <option value="19">戌 19:00-19:59</option>
                            <option value="20">戌 20:00-20:59</option>
                            <option value="21">亥 21:00-21:59</option>
                            <option value="22">亥 22:00-22:59</option>
                            <option value="23">子 23:00-23:59</option>

                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="item tac mb5">
            <div class="rem13 tal" style="padding-top:4px;color:#474747;font-family:Microsoft YaHei">已经有1258人查看2018年八字详批</div>
            <button class="rem16 submitBtn tac mb10 c-fff" onclick="window.location.href='@Url.Content("~/PayFile/EightMarryPay")'">立即预测</button>
        </div>
    </div>

    <div class="moreMess mb10 pd12 pd0x5">
        <div class="tac rem16 c-fff mb13 mt15 colMap">测算后你将了解以下信息</div>
        <div class="flex-box MM-content">
            <div class="flex-cont flex-box ag-self MM-item "><div class="yellowBox rem14 tac ag-self"><span class="c-fff conText">夫妻默契</span></div></div>
            <div class="flex-cont ag-self MM-item c-fff "><div class=" redBox rem14  tac ag-self"><span class="conText">夫妻相旺</span></div></div>
            <div class="flex-cont ag-self MM-item c-fff"><div class="yellowBox rem14 tac  ag-self"><span class="conText">夫妻情深</span></div></div>
            <div class="flex-cont ag-self MM-item c-fff"><div class="redBox rem14  tac  ag-self"><span class="conText">子女同步</span></div></div>
        </div>
    </div>
    <div class="forecastFun ">
        <div class="tac rem16 mb13 c-fff mt15 colMap">测算内容对你有什么帮助</div>
        <div class="flex-box item mb20">
            <div class="flex-cont mr10 backBox">
                <div class="rem18 mb5 top topPadding">为您锦上添花</div>
                <img class="fun-img" src="@string.Format("{0}{1}",imgRoot,"images/eightMarry1.png")" />
               <div class="functionBottom">千金难买是良缘<br />锦上添花合八字</div>
            </div>
            <div class="flex-cont mr10 backBox">
                <div class="rem18 mb5 top topPadding">剔除不幸爱情</div>
                <img class="fun-img" src="@string.Format("{0}{1}",imgRoot,"images/eightMarry2.png")" />
                <div class="functionBottom">影响双方完美成婚<br />的因素一一详解</div>
            </div>
            
        </div>
        <div class="flex-box item mt15">
            <div class="flex-cont mr10 backBox">
                <div class="rem18 mb5 top topPadding">婚后生活预测</div>
                <img class="fun-img" src="@string.Format("{0}{1}",imgRoot,"images/eightMarry3.png")" />
                <div class="functionBottom">未来不完美因素<br />可以提前预知</div>
            </div>
            <div class="flex-cont mr10 backBox">
                <div class="rem18 mb5 top topPadding">感情助旺有方</div>
                <img class="fun-img" src="@string.Format("{0}{1}",imgRoot,"images/eightMarry4.png")" />
                <div class="functionBottom">专业老师指导方法<br />所有不利都可化解</div>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                var date = new ruiDatepicker().init('#manDate');
                var date1 = new ruiDatepicker().init('#womanDate');
            }, 2000);


        })

</script>
    }



